* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-mario {
  height: 200px;
}

.mario-luigi {
  height: 500px;
}

.botao-contato {
  color: white;
  background-color: #c51111;
  border-radius: 3px;
  border: none;
  width: 200px;
  height: 50px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 30px;
  transition: 0.3s;
}

.botao-contato:hover {
  width: 250px;
  height: 60px;
  font-size: 17px;
  background-color: #e21212;
}

body {
  height: 100vh;
}

.caixa-mae {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 100px;
  height: 100vh;
}

.caixa-principal {
  width: 40%;
}

.caixa-video {
  position: fixed;
  z-index: -1;
  top: 0;
}

video {
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
}

.mascara {
  height: 100%;
  width: 100%;
  background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
  position: fixed;
  top: 0;
}

p {
  color: white;
  font-size: 20px;
}

.link-whatsapp img {
  height: 60px;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.header {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 30px;

  img {
    height: 60px;
  }

  & a {
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
  }

  & a:hover {
    color: #c51111;
  }
}

html {
  /* para travar a rolagem da página */
  position: fixed;
  width: 100%;
  height: 100%;
}

.formulario-contato {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 30%;
  left: -500px;
  padding: 30px;
  border-radius: 5px;
  gap: 20px;
}

form {
  input {
    height: 40px;
    border: 1px solid gray;
    border-radius: 5px;
    height: 30px;
    padding-left: 5px;
    outline-color: #18d80f;
  }

  & img {
    display: flex;
    position: absolute;
    top: 5px;
    right:5px;
    width: 15px;
    cursor: pointer;
  }

  & textarea {
    width: 270px;
    height: 100px;
    border: 1px solid gray;
    border-radius: 5px;
    height: 30px;
    padding-left: 5px;
    padding-top: 5px;
    outline-color: #18d80f;
  }

  & .botao-orcamento {
    color: white;
  background-color: #c51111;
  border-radius: 3px;
  border: none;
  width: 100%;
  height: 50px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 30px;
  transition: 0.3s;
  }

  transition: 0.3s linear;
}

.mascara-formulario {
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
  transition: visibility 0.3s ease-in-out;
}

@media (max-width: 1100px) {
  
  p {
    display: none;

  }

    .caixa-mae {
    flex-direction: column;
    padding: 10px;
    justify-content: flex-start;
    }

    .caixa-principal {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .imagem-mario {
      width: 80vw;
      height: auto;
    }

    .header img {
      display: none;
    }

    .header {
      margin: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .header a {
      font-size: 20px;
    }
  }